<div class="wrapper" [class.is-mobile]="isMobile()">
  <mat-toolbar color="primary" class="toolbar" role="heading">
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon color="secondary" fontSet="bi" fontIcon="bi-list"></mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container
    class="page sidebar-container"
    [style.paddingTop.px]="isMobile() ? 56 : 0"
  >
    <mat-sidenav
      #sideNav
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
      [opened]="!isMobile()"
      fixedTopGap="56"
      role="navigation"
    >
      <div class="sidebar">
        <button mat-button color="primary" (click)="router.navigateByUrl('')">
          <mat-icon fontSet="bi" fontIcon="bi-plus-circle-fill"></mat-icon>
          <ng-container i18n="button|action to create a new conversation">
            New conversation
          </ng-container>
        </button>
        <mat-nav-list>
          @for (
            conversation of conversationService.conversationList();
            track conversation.record.id
          ) {
            <a
              mat-list-item
              [routerLink]="['c', conversation.record.id]"
              class="conversation-list-item"
              #tooltip="matTooltip"
              [matTooltip]="conversation.decryptedData.title"
              matTooltipPosition="after"
            >
              <p matListItemTitle>{{ conversation.decryptedData.title }}</p>
              <div matListItemMeta class="conversation-list-item-actions">
                <button
                  mat-icon-button
                  class="actions-button"
                  [matMenuTriggerFor]="menu"
                  aria-label="Open conversation menu"
                >
                  <mat-icon fontSet="bi" fontIcon="bi-three-dots-vertical"></mat-icon>
                </button>
              </div>
            </a>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item=""
                (click)="onPinConversation(conversation.record.id)"
              >
                <mat-icon fontSet="bi" fontIcon="bi-pin-angle"></mat-icon>
                Pin
              </button>
              <button
                mat-menu-item=""
                (click)="onEditConversation(conversation.record.id)"
              >
                <mat-icon fontSet="bi" fontIcon="bi-pencil-square"></mat-icon>
                Edit
              </button>
              <button
                mat-menu-item=""
                (click)="onDeleteConversation(conversation.record.id)"
              >
                <mat-icon fontSet="bi" fontIcon="bi-trash3"></mat-icon>
                Delete
              </button>
            </mat-menu>
          }
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content role="main">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
