<div class="vault-form-wrapper">
  <h1 i18n>Vault locked</h1>
  <form
    class="vault-form"
    [formGroup]="vaultPasswordForm"
    (ngSubmit)="
      vaultService.rawVaultPassword$.next(
        vaultPasswordForm.value.vaultPassword ?? ''
      )
    "
  >
    <mat-form-field>
      <mat-label i18n>Vault password</mat-label>

      <input type="password" matInput formControlName="vaultPassword" />
      <mat-hint i18n>Your vault password will never leave your device</mat-hint>
      @if (vaultPasswordForm.get('vaultPassword')?.hasError('required')) {
      <mat-error>Vault password is required</mat-error>
      }
    </mat-form-field>
    <button
      type="submit"
      mat-button
      color="primary"
      [disabled]="!vaultPasswordForm.valid"
    >
      Unlock Vault
    </button>
  </form>
</div>
