:80 {
	# Redirect HTTP to HTTPS
	redir https://{host}{uri}
}

api.cognos.io {
	request_body {
		max_size 2MB
	}

	# Don't expose the PocketBase admin or metrics endpoints
	@pocketbase_admin path /_ /_/*
	respond @pocketbase_admin 404
	rewrite /metrics /404

	@allowed_origin header Origin https://app.cognos.io https://chat.cognos.io
	@cors_preflight {
		method OPTIONS
		header Origin https://app.cognos.io https://chat.cognos.io
		header Access-Control-Request-Method *
	}
	header @allowed_origin {
		Access-Control-Allow-Origin {header.Origin}
		Access-Control-Allow-Headers Authorization, Content-Type
		Access-Control-Allow-Methods GET, POST, PATCH, PUT, DELETE, OPTIONS
		Vary Origin
	}
	respond @cors_preflight 204

	reverse_proxy backend:8090 {
		transport http {
			read_timeout 360s
		}

		header_up Host {http.reverse_proxy.upstream.hostport}
	}

	# Enable Cloudflare DNS for this domain
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
}
